@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', Calibri, sans-serif;
  --header-height: 6rem;
  --content-padding-top: 1rem;
}

@layer base {
  h1 {
    @apply text-3xl;
    @apply mt-4;
    @apply mb-4;
  }

  h2 {
    @apply text-2xl;
    @apply mt-2;
    @apply mb-2;
  }

  h3 {
    @apply font-medium;
    @apply text-lg;
    @apply mt-2;
    @apply mb-2;
  }

  markdown > p {
    &:not(:last-child):not(:has(+ h2)) {
      @apply mb-4;
    }

    &:has(+ h2) {
      @apply mb-12;
    }
  }

}

@layer utilities {
  .blocked-scroll {
    --scrollbar-width: 0;
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }

  .frosted {
    background-color: rgba(255,255,255,.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

@layer utilities_align {
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 0,
    'GRAD' 0,
    'opsz' 24;
}
