@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', Calibri, sans-serif;
  --header-height: 6rem;
}

@layer utilities {
  .blocked-scroll {
    --scrollbar-width: 0;
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }

  .frosted {
    background-color: rgba(255,255,255,.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

@layer utilities_align {
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 0,
    'GRAD' 0,
    'opsz' 24;
}
