<small>
  Copyright hint: the PDF file has been published on
  <a href="https://github.com/pdfcpu/pdfcpu/blob/master/pkg/samples/form/flow/createFormAndUpdatePageCJKUserFont.pdf">pdfcpu</a> under a
  <a target="#" rel="license" href="https://github.com/pdfcpu/pdfcpu/blob/master/LICENSE.txt">Apache 2.0 license.<br /></a> </small>
<ngx-extended-pdf-viewer
  [src]="'/assets/pdfs/createFormAndUpdatePageCJKUserFont.pdf'"
  [height]="'50vh'"
  [minifiedJSLibraries]="false"
  > </ngx-extended-pdf-viewer>
