<div class="grid grid-cols-[minmax(0,_auto)_1fr] gap-6 items-center p-4 h-full ps-16 pe-16">
  <div class="lg:hidden">
    <button [attr.aria-expanded]="sidenavIsOpen()" aria-controls="sidenav" (click)="toggleSidebar()">
      <span role="img" class="material-symbols-outlined">menu</span>
      <span class="sr-only">Menu</span>
    </button>
  </div>
  <div class="grid grid-rows-[1fr_minmax(0,_auto)] text-2xl">
    <span class="text-primary-light">Angular PDF Viewer</span>
    <span class="text-[0.6em]">Version {{ extendedPdfViewerVersion }} with Angular {{ angularVersion }}</span>
  </div>

  <pvs-octocat />
</div>
