<nav
  id="sidenav"
  role="navigation"
  class="max-lg:p-4 lg:pt-4 h-full max-lg:grid max-lg:grid-rows-[minmax(0,_auto)_1fr] max-lg:bg-surface dark:max-lg:bg-surface-dark dark:max-lg:text-on-surface-dark"
  [cdkTrapFocus]="sidenavIsOpen()"
>
  <button [attr.aria-expanded]="sidenavIsOpen()" aria-controls="sidenav" pvsCloseSidebar class="place-self-end lg:hidden">
    <span class="material-symbols-outlined"> close </span>
  </button>

  <ol class="pr-2 overflow-y-scroll h-[calc(100vh-theme(spacing.header-height)-3rem)]">
    <li class="font-semibold mb-2">
      <button (click)="toggleSearchDialog($event)">Search Documentation</button>
    </li>
    @for (entry of navigationEntries; track entry) {
      @if (isNavigationGroup(entry)) {
        <li pvs-navigation-group [group]="entry"></li>
      } @else if (isNavigationTarget(entry)) {
        <li pvs-navigation-target [target]="entry" [isTopLevelTarget]="true"></li>
      }
    }
  </ol>
</nav>
