<nav id="sidenav" role="navigation" class="bg-white max-lg:pt-2 max-lg:pb-4 max-lg:ps-4 max-lg:pe-4 lg:pt-4 h-full">
  <button [attr.aria-expanded]="sidenavIsOpen()" aria-controls="sidenav" pvsCloseSidebar class="place-self-end lg:hidden">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <ol>
    @for (entry of navigationEntries; track entry) {
      @if (isNavigationGroup(entry)) {
        <li pvs-navigation-group [group]="entry"></li>
      } @else if (isNavigationTarget(entry)) {
        <li pvs-navigation-target [target]="entry"></li>
      }
    }
  </ol>
</nav>
