<small>
  Copyright hint: the PDF file has been published by <a href="https://de.linkedin.com/in/stephan-rauh-a6a398aa">Stephan
    Rauh</a> on
  <a href="https://www.beyondjava.net/page/beyondjava-conference">BeyondJava.net</a> under a
  <a target="#" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/de/">Creative Commons
    Attribution-NonCommercial-NoDerivs 3.0 Germany License.<br /></a> </small>
<button id="page-button" (click)="page=page+1">next page</button><span>{{page}}</span>
<button id="rotate-button" (click)="rotation=90">rotate</button><span>{{rotation}}</span>
<button id="zoom-button" (click)="zoom=100">zoom=100</button><span>{{zoom}}</span>
<button id="zoom-auto-button" (click)="zoom='auto'">zoom='auto'</button>
<button id="spread-button" (click)="spread='odd'">spread=odd</button><span>{{spread}}</span>
<button id="sidebar-button" (click)="showSidebar=true">sidbar=true</button><span>{{spread}}</span>
<ngx-extended-pdf-viewer
  [src]="'/assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf'"
  [(page)]="page"
  [(zoom)]="zoom"
  [(rotation)]="rotation"
  [(spread)]="spread"
  [minifiedJSLibraries]="false"
  > </ngx-extended-pdf-viewer>
