<h1>Welcome to {{ title }}!</h1>

<mat-card>
  <mat-card-content>
    <section class="section">
      <button *ngIf="!hidden" mat-raised-button color="primary" class="margin" (click)="hidden = true">Hide the PDF</button>
      <button *ngIf="hidden" mat-raised-button color="primary" class="margin" (click)="hidden = false">Show the PDF</button>
      <mat-checkbox class="margin" [(ngModel)]="mobileFriendlyZoomPercent">mobile-friendly zoom 200%</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="showSidebar">show sidebar button</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="handTool">Hand tool</mat-checkbox>
      <mat-form-field>
        <mat-label>language (requires tab change)</mat-label>
        <mat-select [(value)]="language" class="margin">
          <mat-option [value]="undefined">default (Spanish)</mat-option>
          <mat-option value="es-ES">es-ES (Spanish)</mat-option>
          <mat-option value="de-DE">de-DE (German)</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="margin">
        <input matInput type="number" class="margin" [(ngModel)]="page" placeholder="Page number" />
      </mat-form-field>
      <mat-form-field *ngIf="visible[8]">
        <mat-label>Named Destination (aka nameddest)</mat-label>
        <mat-select [(value)]="nameddest" class="margin">
          <mat-option value="chapter_1">chapter_1</mat-option>
          <mat-option value="chapter_2">chapter_2</mat-option>
          <mat-option value="chapter_3">chapter_3</mat-option>
          <mat-option value="chapter_4">chapter_4</mat-option>
          <mat-option value="chapter_5">chapter_5</mat-option>
          <mat-option value="chapter_7">chapter_7</mat-option>
          <mat-option value="comment_1">comment_1</mat-option>
          <mat-option value="info_1">info_1</mat-option>
          <mat-option value="info_2">info_2</mat-option>
          <mat-option value="info_3">info_3</mat-option>
          <mat-option value="info_4">info_4</mat-option>
          <mat-option value="last_reference">last_reference</mat-option>
          <mat-option value="link_1">link_1</mat-option>
          <mat-option value="link_2">link_2</mat-option>
          <mat-option value="link_3">link_3</mat-option>
          <mat-option value="link_4">link_4</mat-option>
          <mat-option value="z_comment">z_comment</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="section">
      <mat-form-field>
        <mat-label>spread</mat-label>
        <mat-select [(value)]="spread" class="margin">
          <mat-option value="off">off</mat-option>
          <mat-option value="even">even</mat-option>
          <mat-option value="odd">odd</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox class="margin" [(ngModel)]="height50">[height]='50%'</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="height314">[height]='314px'</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="height100">[height]='100%'</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="height80vh">[height]='80vh'</mat-checkbox>
      <div class="margin">resulting height: {{ height }}</div>
      <mat-form-field>
        <input matInput type="text" class="margin" [(ngModel)]="filenameForDownload" placeholder="Filename for download" />
      </mat-form-field>
    </section>
    <section class="section">
      <mat-checkbox class="margin" [(ngModel)]="zoom42" matTooltip="Changes apply after switching to another PDF file">
        [zoom]="42"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoom84percent" matTooltip="Changes apply after switching to another PDF file"
        >[zoom]="'84%''"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomAuto" matTooltip="Changes apply after switching to another PDF file"
        >[zoom]="'auto'"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomPageActual" matTooltip="Changes apply after switching to another PDF file"
        >[zoom]="'page-actual'"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomPageFit" matTooltip="Changes apply after switching to another PDF file"
        >[zoom]="'page-fit'"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomPageWidth" matTooltip="Changes apply after switching to another PDF file"
        >[zoom]="'page-width'"</mat-checkbox
      >
      <div class="margin">resulting zoom factor: {{ zoom }}</div>
    </section>
    <section class="section">
      <mat-form-field class="margin">
        <input matInput class="margin" [(ngModel)]="searchtext" placeholder="find (programmatically)" />
      </mat-form-field>
      <button (click)="findNext()">next</button>
      <button (click)="findPrevious()">previous</button>
    </section>
  </mat-card-content>
</mat-card>
<mat-tab-group (selectedTabChange)="activateTab($event.index)">
  <mat-tab label="BootsFaces Deep-Dive PDF">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[0] && !hidden"
        [src]="'assets/pdfs/BootsFaces_Deep_Dive_1.0.pdf'"
        backgroundColor="#ffffff"
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebar"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [showPresentationModeButton]="true"
        [height]="height"
        [handTool]="handTool"
        [(page)]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
        (pageRendered)="onPageRendered($event)"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="Codpaste PDF">
    <ng-template matTabContent>
      <small
        >Copyright hint: this PDF has been published on
        <a href="http://peoplelikeus.org/2007/codpaste-podcast-on-wfmu/">http://peoplelikeus.org</a> under a CC-By-NC license</small
      >
      <ngx-extended-pdf-viewer
        *ngIf="visible[1] && !hidden"
        [src]="'assets/pdfs/codpaste-teachingpack.pdf'"
        backgroundColor="#e8e8ef"
        [mobileZoom]="mobileFriendlyZoom"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebar"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [handTool]="handTool"
        [page]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="No PDF">
    <h1>Tab without a PDF</h1>
  </mat-tab>
  <mat-tab label="Another PDF" (click)="hideOtherPDFs()">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[3] && !hidden"
        [src]="'assets/pdfs/Math.pdf'"
        backgroundColor="#e8e8ef"
        [mobileZoom]="mobileFriendlyZoom"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebar"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [handTool]="handTool"
        [page]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="PDF without secondary toolbar">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[4] && !hidden"
        [src]="'assets/pdfs/BootsFaces_Deep_Dive_1.0.pdf'"
        backgroundColor="#ffffff"
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [showHandToolButton]="false"
        [showPagingButtons]="false"
        [showPropertiesButton]="false"
        [showRotateButton]="false"
        [showScrollingButton]="false"
        [showRotateButton]="false"
        [showSidebarOnLoad]="true"
        [showSpreadButton]="false"
        [showSelectToolButton]="false"
        [useBrowserLocale]="false"
        [(zoom)]="zoom"
        [height]="height"
        [handTool]="handTool"
        [(page)]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="PDF without any toolbar">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[5] && !hidden"
        [src]="'assets/pdfs/pdf-sample.pdf'"
        backgroundColor="blue"
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [showBookmarkButton]="false"
        [showDownloadButton]="false"
        [showFindButton]="false"
        [showOpenFileButton]="false"
        [showPagingButtons]="false"
        [showPresentationModeButton]="false"
        [showPrintButton]="false"
        [showPropertiesButton]="false"
        [showSidebarButton]="false"
        [showSecondaryToolbarButton]="false"
        [showZoomButtons]="false"
        [useBrowserLocale]="false"
        [(zoom)]="zoom"
        [height]="height"
        [handTool]="handTool"
        [(page)]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="Base64" (click)="hideOtherPDFs()">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[6] && !hidden"
        [base64Src]="base64"
        backgroundColor="#e8e8ef"
        [mobileZoom]="mobileFriendlyZoom"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebar"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [handTool]="handTool"
        [page]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="passing a password programatically" (click)="hideOtherPDFs()">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[7] && !hidden"
        [src]="'assets/pdfs/encrypted-sample.pdf'"
        backgroundColor="#e8e8ef"
        [mobileZoom]="mobileFriendlyZoom"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebar"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [handTool]="handTool"
        [page]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [password]="'123'"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab (click)="hideOtherPDFs()">
    <ng-template mat-tab-label>
      <div matTooltip="Demo document found at https://github.com/mozilla/pdf.js/issues/10272">[nameddest]='{{ nameddest }}'</div>
    </ng-template>
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[8] && !hidden"
        [src]="'assets/pdfs/ATS_TEST_PVC_2_1.pdf'"
        backgroundColor="#e8e8ef"
        [mobileZoom]="mobileFriendlyZoom"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebar"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [handTool]="handTool"
        [page]="page"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [nameddest]="nameddest"
        [listenToURL]="true"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
</mat-tab-group>
