<ng-template #additionalButtons>
  <div id="toolbarViewer">
      <div id="toolbarViewerLeft">
          <pdf-toggle-sidebar></pdf-toggle-sidebar>
          <div class="toolbarButtonSpacer"></div>
          <pdf-paging-area></pdf-paging-area>
      </div>
      <div id="toolbarViewerRight">
          <button type="button" class="toolbarButton fas fa-print"></button>
          <div class="verticalToolbarSeparator hiddenSmallView"></div>
          <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
      </div>
      <pdf-zoom-toolbar></pdf-zoom-toolbar>
  </div>
</ng-template>

<ng-template #customSecondaryToolbar>
  <div
  id="secondaryToolbar"
  class="secondaryToolbar hidden doorHangerRight"
  [style.top]="'36px'"
  [style.transformOrigin]="'right top'"
  >
  <button
    type="button"
    class="secondaryToolbarButton"
    title="Shameless self-advertising">
      <a target="#" href="https://pdfviewer.net" style="color:white">
        <span>Go to the manual and showcase</span>
      </a>
  </button>
  <button
      type="button"
      class="secondaryToolbarButton"
      title="Shameless self-advertising"
    >
     <a target="#" href="https://www.beyondjava.net" style="color:white">
      <span>Visit https://www.beyondjava.net</span>
    </a>
    </button>

    <button
      type="button"
      id="documentProperties"
      class="secondaryToolbarButton documentProperties"
      title="Document Properties…"
      data-l10n-id="document_properties"
    >
    <span data-l10n-id="document_properties_label">Document Properties…</span>
  </button>
</div>

</ng-template>

<ng-template #customFindbarInputArea>
  <div id="findbarInputContainer">
    <pdf-search-input-field></pdf-search-input-field>
    <br />
    <pdf-find-next></pdf-find-next>
  </div>
</ng-template>

<ng-template #customFindbarButtons>
  <pdf-find-input-area [customFindbarInputArea]="customFindbarInputArea"></pdf-find-input-area>
  <div id="findbarOptionsOneContainer">
    <pdf-find-highlight-all></pdf-find-highlight-all>
    <pdf-find-match-case></pdf-find-match-case>
  </div>
  <br />
  <div id="findbarOptionsTwoContainer">
    <pdf-find-entire-word></pdf-find-entire-word>
    <pdf-find-entire-phrase></pdf-find-entire-phrase>
  </div>
  <br />
  <div id="findbarOptionsThreeContainer">
    <pdf-find-ignore-accents></pdf-find-ignore-accents>
    <pdf-find-results-count></pdf-find-results-count>
  </div>
  <br />
  <pdf-findbar-message-container></pdf-findbar-message-container>
</ng-template>


<mat-card>
  <mat-card-content>
    <section class="section">
      <button *ngIf="!hidden" mat-raised-button color="primary" class="margin" (click)="hidden = true">Hide the PDF</button>
      <button *ngIf="hidden" mat-raised-button color="primary" class="margin" (click)="hidden = false">Show the PDF</button>
      <mat-checkbox class="margin" [(ngModel)]="mobileFriendlyZoomPercent">mobile-friendly zoom 200%</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="showSidebarButton">sidebar button</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="sidebarVisible">sidebar</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="handTool">Hand tool</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="contextMenuAllowed">Context menu allowed</mat-checkbox>
      <mat-form-field>
        <mat-label>language (requires tab change)</mat-label>
        <mat-select [(value)]="language" class="margin">
          <mat-option [value]="undefined">default (Spanish)</mat-option>
          <mat-option value="es-ES">es-ES (Spanish)</mat-option>
          <mat-option value="de-DE">de-DE (German)</mat-option>
          <mat-option value="ar">ar (Arab)</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="margin">
        <input matInput type="number" class="margin" [(ngModel)]="page" placeholder="Page number" />
      </mat-form-field>
      <mat-form-field class="margin">
        <input matInput type="text" class="margin" [(ngModel)]="pageLabel" placeholder="Page label" />
      </mat-form-field>
      <mat-form-field *ngIf="visible[8]">
        <mat-label>Named Destination (aka nameddest)</mat-label>
        <mat-select [(value)]="nameddest" class="margin">
          <mat-option value="chapter_1">chapter_1</mat-option>
          <mat-option value="chapter_2">chapter_2</mat-option>
          <mat-option value="chapter_3">chapter_3</mat-option>
          <mat-option value="chapter_4">chapter_4</mat-option>
          <mat-option value="chapter_5">chapter_5</mat-option>
          <mat-option value="chapter_7">chapter_7</mat-option>
          <mat-option value="comment_1">comment_1</mat-option>
          <mat-option value="info_1">info_1</mat-option>
          <mat-option value="info_2">info_2</mat-option>
          <mat-option value="info_3">info_3</mat-option>
          <mat-option value="info_4">info_4</mat-option>
          <mat-option value="last_reference">last_reference</mat-option>
          <mat-option value="link_1">link_1</mat-option>
          <mat-option value="link_2">link_2</mat-option>
          <mat-option value="link_3">link_3</mat-option>
          <mat-option value="link_4">link_4</mat-option>
          <mat-option value="z_comment">z_comment</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="section">
      <mat-form-field>
        <mat-label>spread</mat-label>
        <mat-select [(value)]="spread" class="margin">
          <mat-option value="off">off</mat-option>
          <mat-option value="even">even</mat-option>
          <mat-option value="odd">odd</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox class="margin" [(ngModel)]="height50">[height]='50%'</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="height314">[height]='314px'</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="height100">[height]='100%'</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="height80vh">[height]='80vh'</mat-checkbox>
      <div class="margin">resulting height: {{ height }}</div>
      <mat-form-field>
        <input matInput type="text" class="margin" [(ngModel)]="filenameForDownload" placeholder="Filename for download" />
      </mat-form-field>
    </section>
    <section class="section">
      <mat-checkbox class="margin" [(ngModel)]="zoom42" matTooltip="Changes apply after switching to another PDF file">
        [(zoom)]="42"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoom84percent" matTooltip="Changes apply after switching to another PDF file"
        >[(zoom)]="'84%''"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomAuto" matTooltip="Changes apply after switching to another PDF file"
        >[(zoom)]="'auto'"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomPageActual" matTooltip="Changes apply after switching to another PDF file"
        >[(zoom)]="'page-actual'"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomPageFit" matTooltip="Changes apply after switching to another PDF file"
        >[(zoom)]="'page-fit'"</mat-checkbox
      >
      <mat-checkbox class="margin" [(ngModel)]="zoomPageWidth" matTooltip="Changes apply after switching to another PDF file"
        >[(zoom)]="'page-width'"</mat-checkbox
      >
    </section>
    <section>
      <div class="margin">resulting zoom factor: {{ zoom }}<br />zoom factor reported from the viewer: {{ currentZoomFactor }}</div>
    </section>
    <section class="section">
      <mat-form-field class="margin">
        <input matInput class="margin" [(ngModel)]="searchtext" placeholder="find (programmatically)" />
      </mat-form-field>
      <button (click)="findNext()">next</button>
      <button (click)="findPrevious()">previous</button>
      <mat-form-field class="margin" *ngIf="visible[6]">
        <input matInput class="margin" [(ngModel)]="printResolution" placeholder="print resolution (72...900; default: 150)" />
      </mat-form-field>
      <mat-form-field class="margin">
        <input matInput class="margin" [(ngModel)]="rotation" placeholder="rotation (0, 90, 180, 270)" />
      </mat-form-field>
      <mat-checkbox class="margin" [(ngModel)]="ignoreKeyboard" matTooltip="Ignore every keyboard event" [disabled]="visible[0]"
      >[ignoreKeyboard]="true"</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="showBorders" matTooltip="display the page with border"
      >[showBorders]="true"</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="enablePrint" matTooltip="display the page with border"
      >[enablePrint]="true"</mat-checkbox>

      <button mat-raised-button color="primary" class="margin" (click)="openDialog()">Modal</button>
    </section>
  </mat-card-content>
</mat-card>
<mat-tab-group (selectedTabChange)="activateTab($event.index)" [selectedIndex]="1">
  <mat-tab label="fancy PDF (low print res)">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        [customToolbar]="additionalButtons"
        [startTabindex]="200"
        *ngIf="visible[0] && !hidden"
        [showBorders]="showBorders"
        printResolution="50"
        language="es-MX"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [contextMenuAllowed]="contextMenuAllowed"
        [logLevel]="0"
        [src]="'assets/pdfs/links/Second-Sample-PDF-FILE1.pdf'"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#ffffff"
        [enablePrint]="enablePrint"
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [showPresentationModeButton]="true"
        [showOpenFileButton]="true"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        (pdfLoaded)="onPdfLoaded($event)"
        (pdfLoadingFailed)="onPdfLoadFailed($event)"
        [(spread)]="spread"
        (pageRendered)="onPageRendered($event)"
        (pdfDownloaded)="onDownload($event)"
        [(zoom)]="zoom"
        (zoomChange)="onZoomChange($event)"
        [showHandToolButton]="true"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="Codpaste PDF">
    <ng-template matTabContent>
      <small
        >Copyright hint: this PDF has been published on
        <a href="http://peoplelikeus.org/2007/codpaste-podcast-on-wfmu/">http://peoplelikeus.org</a> under a CC-By-NC license</small
      >
      <ngx-extended-pdf-viewer
        *ngIf="visible[1] && !hidden"
        printResolution="150"
        [showBorders]="showBorders"
        [src]="'assets/pdfs/codpaste-teachingpack.pdf'"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#e8e8ef"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [logLevel]="1"
        [acceptKeys]="['J','K']"
        [mobileZoom]="mobileFriendlyZoom"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showPresentationModeButton]="true"
        [showOpenFileButton]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="No PDF">
    <h1>Tab without a PDF</h1>
  </mat-tab>
  <mat-tab label="Another PDF (high print res)" (click)="hideOtherPDFs()">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[3] && !hidden"
        [src]="'assets/pdfs/Math.pdf'"
        (srcChange)="onSourceChange($event)"
        (textlayerRendered)="onTextLayerRendered($event)"
        backgroundColor="#e8e8ef"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [ignoreKeys]="['j','k']"
        [logLevel]="5"
        [mobileZoom]="mobileFriendlyZoom"
        printResolution="300"
        [showBorders]="showBorders"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="PDF without secondary toolbar">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[4] && !hidden"
        printResolution="150"
        [src]="'assets/pdfs/hidden-layers.pdf'"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#ffffff"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [showBorders]="showBorders"
        [(rotation)]="rotation"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [showHandToolButton]="false"
        [showPagingButtons]="false"
        [showPropertiesButton]="false"
        [showRotateButton]="false"
        [showScrollingButton]="false"
        [showRotateButton]="false"
        [showSidebarOnLoad]="true"
        [showSpreadButton]="false"
        [useBrowserLocale]="false"
        [(zoom)]="zoom"
        [height]="height"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
        [handTool]="false"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="PDF without any toolbar">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[5] && !hidden"
        printResolution="150"
        [src]="'assets/pdfs/pdf-sample.pdf'"
        (srcChange)="onSourceChange($event)"
        backgroundColor="blue"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [showBorders]="showBorders"
        [(rotation)]="rotation"
        [showBookmarkButton]="false"
        [showDownloadButton]="false"
        [showFindButton]="false"
        [showOpenFileButton]="false"
        [showPagingButtons]="false"
        [showPresentationModeButton]="false"
        [showPrintButton]="false"
        [showPropertiesButton]="false"
        [showSidebarButton]="false"
        [showSecondaryToolbarButton]="false"
        [showZoomButtons]="false"
        [useBrowserLocale]="false"
        [(zoom)]="zoom"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="Base64 (variable print res)" (click)="hideOtherPDFs()">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[6] && !hidden"
        [base64Src]="base64"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#e8e8ef"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [mobileZoom]="mobileFriendlyZoom"
        [printResolution]="printResolution"
        (afterPrint)="afterPrint()"
        (beforePrint)="beforePrint()"
        [showBorders]="showBorders"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [(spread)]="spread"
        [language]="language"
        [showHandToolButton]="true"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab label="passing a password programatically" (click)="hideOtherPDFs()">
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[7] && !hidden"
        printResolution="150"
        [src]="'assets/pdfs/encrypted-sample.pdf'"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#e8e8ef"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [mobileZoom]="mobileFriendlyZoom"
        [showBorders]="showBorders"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        [password]="'123'"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab (click)="hideOtherPDFs()">
    <ng-template mat-tab-label>
      <div matTooltip="Demo document found at https://github.com/mozilla/pdf.js/issues/10272">[nameddest]='{{ nameddest }}'</div>
    </ng-template>
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[8] && !hidden"
        printResolution="150"
        [src]="'assets/pdfs/ATS_TEST_PVC_2_1.pdf'"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#e8e8ef"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [mobileZoom]="mobileFriendlyZoom"
        [showBorders]="showBorders"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        (pdfLoadingFailed)="onPdfLoadFailed($event)"
        [nameddest]="nameddest"
        [listenToURL]="true"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
  <mat-tab (click)="hideOtherPDFs()">
    <ng-template mat-tab-label>
      <div matTooltip="Demo document found at http://www.connectedthebook.com/pdf/excerpt.pdf">Roman page numbers</div>
    </ng-template>
    <ng-template matTabContent>
      <ngx-extended-pdf-viewer
        *ngIf="visible[9] && !hidden"
        printResolution="150"
        [src]="'assets/pdfs/excerpt.pdf'"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#e8e8ef"
        [enablePrint]="enablePrint"
        [contextMenuAllowed]="contextMenuAllowed"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [mobileZoom]="mobileFriendlyZoom"
        [showBorders]="showBorders"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="false"
        [showSidebarOnLoad]="true"
        [(zoom)]="zoom"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        (pdfLoadingFailed)="onPdfLoadFailed($event)"
        [listenToURL]="true"
        [(spread)]="spread"
        [language]="language"
      >
      </ngx-extended-pdf-viewer>
    </ng-template>
  </mat-tab>
</mat-tab-group>
