<button
  (click)="focusFirstHeading()"
  class="absolute top-2 left-2 z-[1000] focus:border-1 border-primary-light dark:border-primary-dark border-solid bg-surface text-on-surface dark:bg-surface-dark dark:text-on-surface-dark p-2 -translate-y-full focus:translate-y-0"
>
  Skip to main content
</button>

<pvs-layout>
  <router-outlet />
</pvs-layout>

@defer (when displaySearchDialog(); prefetch on idle) {
  @if (displaySearchDialog()) {
    <pvs-search (onClose)="displaySearchDialog.set(false)" />
  }
}
