<header pvsBlockOnOpenSidebar class="sticky top-0 h-24">
  <pvs-header />
</header>

<div class="hidden fixed top-0 w-full h-full bg-black bg-opacity-35 max-lg:[&.sidebar-open]:block" pvsVisibleOnOpenSidebar pvsCloseSidebar></div>
<div class="flex">
  <aside class="hidden fixed top-0 min-w-[30ch] overflow-auto h-full lg:block lg:sticky lg:top-24 [&.sidebar-open]:block" pvsVisibleOnOpenSidebar>
    <pvs-sidenav />
  </aside>

  <main class="main" pvsBlockOnOpenSidebar>
    <ng-content />
  </main>
</div>
