<header pvsBlockOnOpenSidebar class="sticky top-0 h-header-height frosted dark:frosted-dark">
  <pvs-header />
</header>

<div class="ps-6 pe-6 lg:flex lg:gap-16 lg:ps-8 lg:pe-8 pt-4">
  <aside
    class="hidden max-lg:z-10 fixed max-lg:top-0 max-lg:left-0 min-w-[30ch] overflow-auto max-lg:h-full lg:h-vh-content lg:block lg:sticky lg:self-start lg:top-content-begin [&.sidebar-open]:block"
    pvsVisibleOnOpenSidebar
  >
    <pvs-sidenav />
  </aside>

  <div pvsBlockOnOpenSidebar class="flex-1">
    <!--
    Don't add version switcher to main content.
    For accessibility it is not great skipping to main content and still always having to deal with the version switcher
    -->
    <div class="flex flex-wrap items-center w-full justify-between">
      <pvs-theme-switcher />
      <pvs-version-switcher />
    </div>
    <main tabindex="0">
      <ng-content />
    </main>
  </div>
</div>
<div class="hidden fixed top-0 w-full h-full bg-black bg-opacity-35 max-lg:[&.sidebar-open]:block" pvsVisibleOnOpenSidebar pvsCloseSidebar></div>
