header {
  position: sticky;
  top:0;
  height: 6rem;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  min-width: 30ch;
  overflow: auto;
  height: 100%;
}

.sidebar.sidebar-open {
  display: block;
}

.layout {
  display: none;
}

.layout.sidebar-open {
  display: block;
}

@media (min-width: 1024px) {

  .sidebar {
    display: block;
    position: sticky;
    top: 6rem;
  }

  .content {
    display: flex;
  }

  .layout.sidebar-open {
    display: none;
  }
}
