<header pvsBlockOnOpenSidebar class="sticky top-0 h-header-height frosted border-[hsl(214, 32%, 91%)] border-b">
  <pvs-header />
</header>

<div class="flex gap-16 ps-16 pe-16 pt-4">
  <aside
    class="hidden max-lg:z-10 fixed max-lg:top-0 min-w-[30ch] overflow-auto max-lg:h-full lg:h-vh-content lg:block lg:sticky lg:self-start lg:top-content-begin [&.sidebar-open]:block"
    pvsVisibleOnOpenSidebar
  >
    <pvs-sidenav />
  </aside>

  <main pvsBlockOnOpenSidebar>
    <ng-content />
  </main>
</div>
<div class="hidden fixed top-0 w-full h-full bg-black bg-opacity-35 max-lg:[&.sidebar-open]:block" pvsVisibleOnOpenSidebar pvsCloseSidebar></div>
