/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  height: 90vh;
}

mat-card section.section {
  height: 50px !important;
}

mat-card {
  padding-top: 0 !important;
}
